<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Template</title>

        <!-- DONT FORGET TO CHANGE TITLE -->
        <title>Playground</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="bg-dark">
    <div class="text-center text-light">
        <br><br>
        <h1 class="text-center text-warning">Fix this Error!</h1>
        <br>
        <h5>This has now been fixed. The issue was that line 13 in the index.html had the following line to link CSS:</h5>
        <h5>
            <em>" < link rel=stylesheet href=../static/style.css > " </em>
        </p>
        <h5>However, this has since been corrected to remove the two dots preceding /:</h5>
        <h5>
            <em>" < link rel=stylesheet href=/static/style.css > " </em>
        </p>
        <hr>
        <h3 class="bg-light text-info">
            <strong>Great work Grant L / Eric T / Paul S!</strong>
        </h3>
        <hr>
        <h3 class="text-warning">INPUTS</h3>
        <h5>Row value: {{row}}</h5>
        <h5>Column value: {{col}}</h5>
        <h5>Color1 value: {{color1}}</h5>
        <h5>Color2 value: {{color2}}</h5>
    </div>
    {% for i in range(row): %}
    <div class="row">

            {% for j in range(col) %}

                {% if (i+j)%2 == 0: %}
                <div class="checker" style="background-color: {{color1}};"></div>
                {% else: %}
                <div class="checker" style="background-color: {{color2}};"></div>
                {% endif %}
            
            {% endfor %}

    </div>
    {% endfor %}


</body>
</html>